<%- include("partials/header") %>
</head>
<body>
<%- include("partials/navbar") %>
<div style="text-align: center; margin: 20px 400px; border: 1px solid gray;">
	<table class="table">
	              <thead>
	                <tr>
	                  <th scope="col" style="width:278.5px;">Blood Type</th>
	                  <th scope="col" style="width:278.5px;">Unit</th>
	                </tr>
	              </thead>
	              <tbody>
	                <% for(var i=0;i<rows.length;i++) {%>
	                <tr>
	                  <td><%=rows[i].blood_type%></td>
	                  <td><%=rows[i].units%></td>
	        </tr>
	        <%}%>
	    </tbody>
	</table>
</div>
</body>
</html>