<!DOCTYPE html>
<html>
<head>
	<title>LyFinder : Blood Donor Finder</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./index_style.css">
	<!-- <script src="./index.js" type="text/javascript"></script> -->
</head>
<body>

	<!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">
    		<img src="./LyFinder.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" style="border-radius: 2px;">
    		LyFinder
  		</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">About Us</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/post">Post a Request</a>
	      </li>
	    </ul>
	    <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn"> -->
	    <div class="btn">
	    	<a href="/profile">Welcome <%=name.split(" ")[0]%></a>
	    </div>
	    	<!-- <a class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn" href="/login">LogIn</a>
	    	<a class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn" href="/signup">SignUp</a> -->
	    <!-- </button> -->
	    <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn" > -->
	    <!-- </button> -->
	  </div>
	</nav>
	<!-- Post -->
	<div class="cont">
		<div class="inner_container_left">
			<!-- <h1>Hello</h1> -->
		</div>
		<div class="inner_container_middle">
			<!-- <h1>Hello</h1> -->
			<% var currentdate = new Date();%>
			<% %>
			<% %>
			<% %>
			<% %>
			<% for(var i=0;i<rows.length;i++){ %>
				<% console.log(rows[i].date)%>
				<% if(rows[i]){%>

				<%}%>
				<div class="card">
					<div class="card-body">
					    <h4 class="card-title">REQUIRED <%=rows[i].blood_type%></h5>
					    <h4 class="card-title">UNIT : <%=rows[i].unit%></h5>
					    <hr>
					    <p class="card-text"><h5 style="display: inline-block;">Address</h4> : <%=rows[i].address%></p>
					    <a href="#" class="btn btn-primary">Respond</a>
			  		</div>		
				</div>
			<%}%>

		</div>
		<div class="inner_container_right">
			<!-- <h1>Hello</h1> -->
		</div>
	</div>
	
		  

</body>
</html>