<!DOCTYPE html>
<html>
<head>
	<title>LyFinder-Post Request</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./post.css">
	<script src="" type="text/javascript"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">
    		<img src="./LyFinder.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"  style="border-radius: 2px;">
    		LyFinder
  		</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Feed</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
	      </li>
	      <!-- <li class="nav-item active">
	        <a class="nav-link" href="#">Post a Request</a>
	      </li> -->
	    </ul>
	    <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn"> -->
	    	<!-- /////// -->
	    <!-- </button> -->
	    <div class="btn">
	    	<a href="#">Welcome <%=name.split(" ")[0]%></a>
	    </div>
	    <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 cstm-btn" > -->
	    <!-- </button> -->
	  </div>
	</nav>
	<div class="login-reg-panel">
	<div class="white-panel">
            <div class="login-show show-log-panel">
                <h3>Post a Blood Request</h3>
                <hr>
                <form action="/post" method="post">
	                    <input type="text" name="patientName"placeholder="Patient Name">
                    	<input type="text" name="unit"placeholder="No. of units">
	                    <input type="text" name="bgroup"placeholder="Blood Group">
	                    <input type="text" name="address"placeholder="Hospital Address">
	                    <input type="text" name="location"placeholder="City Name">
	                    <!-- <input type="text" name="address"placeholder=""> -->
	                    <select name="emergency">
							<option value="0" data-group="0">Select Emergency Level</option>
							<option value="extreme" >Extreme</option>
							<option value="moderate" >Moderate</option>
							<option value="low">Low</option>
						</select>
	                    <button type="submit" class="btn_register">Post</button> 
                </form>
            </div>
	</div>
	</div>
</body>
</html>