<%- include("partials/header") %>
</head>
<body>
<%- include("partials/navbar") %>

<div class="cont">
    <div class="inner_container_left">
    </div>
    <div class="inner_container_middle">
        <!-- <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="d-flex justify-content-start">
                                    <div class="image-container">
                                        <div class="middle">
                                            <input type="button" class="btn btn-dark" id="btnChangePicture" value="Change" />
                                            <input type="file" style="display: none;" id="profilePicture" name="file" /> 

                                            <form class="md-form">
                                                <div class="file-field">
                                                  <div class="mb-4">
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                                      class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                                                  </div>
                                                  <div class="d-flex justify-content-center">
                                                    <div class="btn btn-mdb-color btn-rounded float-left">
                                                      <input type="file">
                                                    </div>
                                                  </div>
                                                </div>
                                              </form>

                                              <style>
                                                .avatar-pic {
                                                    width: 150px;
                                                    }
                                              </style>

                                        </div>
                                    </div>
                                    <div class="userData ml-3">
                                        <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Some Name</a></h2>
                                    </div>
                                    <div class="ml-auto">
                                        <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>        
            </div>
        </div>  -->
        
        <!-- Tab links -->
        <br>
        <div class = "container">
          
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Details')">Details</button>
                <button class="tablinks" onclick="openCity(event, 'Transfusion')">Transfusion details</button>
                <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
              </div>
              
              <!-- Tab content -->
              <div id="Details" class="tabcontent">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Name</th>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">Age</th>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">Phone Number</th>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">Blood Group</th>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">Address</th>
                      <td>Mark</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div id="Transfusion" class="tabcontent">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Patient's Name</th>
                      <th scope="col">Patient's Age/Blood bank Name</th>
                      <th scope="col">Hospital name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <!-- <div id="Tokyo" class="tabcontent">
                <p>Tokyo is the capital of Japan.</p>
              </div> -->
            <style>

            .container{
                box-shadow: 0 0 15px 9px #00000096;
            }
                /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
                <!-- box-shadow: 0 0 15px 9px #00000096 -->
              }
              
              /* Style the buttons that are used to open the tab content */
              .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
              }
              
              /* Change background color of buttons on hover */
              .tab button:hover {
                background-color: #ddd;
              }
              
              /* Create an active/current tablink class */
              .tab button.active {
                background-color: #ccc;
              }
              
              /* Style the tab content */
              .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
              }
            </style>
            <script>
                function openCity(evt, cityName) {
                    // Declare all variables
                    var i, tabcontent, tablinks;
                  
                    // Get all elements with class="tabcontent" and hide them
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                      tabcontent[i].style.display = "none";
                    }
                  
                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                      tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                  
                    // Show the current tab, and add an "active" class to the button that opened the tab
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                  }
            </script>
        </div>
    </div>
    <div class="inner_container_right">
    </div>




<%- include("partials/footer") %>