@import url('https://fonts.googleapis.com/css?family=Mukta');
body
{
    font-family: 'Mukta', sans-serif;
}
.Mid-Container hr
{
    width: 3%;
    border: none;
    border-top: 5px dotted #a8a8a8;
    height: 0;
    margin: 50px auto;
    margin-top: 0;
}
/*Navbar*/

.navbar
{
  position: sticky;
  top: 0;
  z-index: 1071;
  margin: auto;
}
.navbar-logo
{
  height: 30px;
  margin-right: 10px;
}
.cstm-btn
{
  margin : 0px 1.25rem 0px .1rem;
}
.cstm-btn a
{
  color: black;
}
.cstm-btn a:hover
{
  text-decoration: none;
  color: white;
}
.navbar-nav li a
{
  margin:0rem 1rem 0rem 1rem;
  font-size: 1rem;
}
.navbar-text
{
  padding: 0;
  padding-bottom: 4px;
}
.registration
{
  padding-left: 0;
  border-left: 0;
  margin-left: 16px;
}

/*Intro*/

.jumbotron
{
  text-align: center;
  margin-bottom: 0;
  background-color: #f26d6f  ;
  color: #ffe6e6;
  padding-bottom: 30;
  border-radius: 0;
}
.Intro-logo
{
  height: 200px;
  border-radius: 100px;
  margin-bottom: 30px;
}
#testimonial
{
  text-align: center;
  color: #fff;
}
#footer
{
  text-align: center; 
  padding: 7% 15%;
}
.carousel-item
{
  padding: 7% 15%;
  color:#f26d6f;
}

#footer
{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0;
}

.fab
{
  background-color : #f26d6f;
}

/*Counter*/

.counter
{
  text-align: center;
  color: #f26d6f;
}

/*Contact-Us*/

.Contact-us
{
  text-align: center;
  color: #f26d6f;
  padding: 20px 50px;
  padding-bottom: 70px;
}

.Mid-Container
{
  background-color: #ffe6e6;
  padding-bottom: 10px;
}