@import url('https://fonts.googleapis.com/css?family=Mukta');
body
{
  	font-family: 'Mukta', sans-serif;
}
.cstm-btn
{
	margin : 0px 1.25rem 0px .1rem;
}
.navbar-nav li a
{
	margin:0rem 1rem 0rem 1rem;
}
.navbar-brand :hover
{
	
}
li a:hover
{
	font-weight: bold;
	font-size: 1.0rem;
	/*margin:0rem .2rem 0rem 1rem;*/
}

