@import url('https://fonts.googleapis.com/css?family=Mukta');
html,body
{
  	font-family: 'Mukta', sans-serif;
  	height: 100%;
  	width: 100%;
}
.navbar
{
	margin: auto;
	border-radius: 2px solid black;
}
.cstm-btn
{
	margin : 0px 1.25rem 0px .1rem;
}
.navbar-nav li a
{
	margin:0rem 1rem 0rem 1rem;
}
.navbar-brand :hover
{
	
}

li a:hover
{
	font-weight: bold;
	font-size: 1.0rem;
}
/*Post Form*/
body{
  font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-y: hidden;
}
.login-reg-panel{
    color:#B8B8B8;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(33% - 54px);
    /*transition:.3s ease-in-out;*/
    z-index:0;
    box-shadow: 0 0 8px 2px #00000096;
}
.login-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
    text-align: center;
    /*margin: auto;*/
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show select{
    width: 100%;
    display: block;
    margin:20px 0 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
    border-radius: 5px;
}
.login-show h2
{
    text-align: center;
}
.btn_register{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    /*float:right;*/
    cursor:pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover{
  color:white;
}